@import url('https://fonts.googleapis.com/css?family=Lobster');
.navbar-transparente{
   background-color: black;
   
}
html, .capa{
 height: 100%;
}
img{
    max-width: 100%;
    max-height: 100%;
}
body {
   
    font-size: 16px;
    height: 100%;
    font-family: Helvetica,arial,sans-serif;
    transition: all 0.5s;
    font-family: 'Lobster', cursive;
   
}
.nav-item{
    color: white;
}
.navbar-transparente a{
    color: white;
    margin-right: 20px;
}
.capa{
    display: table;
    width: 100%;
  
}
.descrição-perfil{
    margin-top: 15px;
    padding: 10px;
    
}

#nome-perfil{
    font-size: 1em;
    font-weight: bold;
   
}
#perfil{
    border-radius: 100%;
    width: 300px;
}
@media(max-width: 768px){
    #perfil{
        width: 175px;
    }
    .descrição-perfil{
        font-size:25px;
    }
}
.btn-principal{
    background-color: white;
    color: none;
}
.texto-capa{
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Lobster', cursive;
  
}
footer{
    font-family: 'Lobster', cursive;
    color: gray;
    padding: 10px;
}
nav{
    font-family: 'Lobster', cursive;
}
nav a:hover {
color: #2d83ce;
}
nav:hover{
    background-color: black;
}

.navbar-brand{
    font-size: 25px;
}


body{
    background: linear-gradient(50deg,#02255c, #218de6,#0de4e4);
    background-attachment: fixed;
    background-size: cover;
}
footer{
    background-color: white;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,.5);
}

/*menu redes sociais*/
.rede#facebook{
    background-color: #2372a3;
   
   }
   .rede#twitter{
    background-color: #0084b4;
   }
   .rede#instagram{
    background: linear-gradient( rgb(209, 61, 165),  #fc0, rgb(122, 12, 95)  );
   }
   
   .rede#snap{
    background-color: #fc0;
   }
   .rede#plus{
    background-color: #dd4b39;
   }
   .rede#GitHub{
    background-color: black;
   }
   
 #menu-icones{
     display: inline-block;
   margin: 50px;
 }  
.rede{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: inline-block;
}
@media(max-width:768px){
    .navbar-brand{
        font-size: 20px;
    }
    .rede{
        width: 100%;
        height: 100%;
        border-radius:0%;
    }
    .icone{
        width: 75px;
    }
}
.icone{
    padding: 20px;
}
   
   .rede:hover{
    cursor: pointer;
    transform: translateY(-10px);
    background: black;
    box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);
   }
.conteudo-site{
   margin: 20px;
   padding: 10px;
   background: #fff;
   box-shadow: 0 0 10px rgba(0,0,0,.5);
}
/*menu redes sociais*/
#carreira{
    
    padding: 20px;
    text-align: center;
}
.caixa{
    background-color: rgba(3, 1, 5, 0.383);
    color: white;
}
.row{
    text-align: center;
}
.col-md-7{
    text-align: center;
}